@import 'variables';

.wrapper {
  height: 40px;
  left: 50%;
  min-width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input {
  border: 0;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  height: 100%;
  outline: none;
  padding: 8px 16px;
  width: calc(100% - 32px);
}

.input {
  box-shadow: 0 0 2px $silverChalice;
}

.item {
  color: $ebonyClay;
  padding: 8px 16px;
}

.loading {
  &:after {
    align-content: center;
    align-items: center;
    background: $white;
    bottom: 0;
    color: $black;
    content: 'Loading...';
    display: flex;
    font-size: 18px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}

.none {
  &:after {
    align-content: center;
    align-items: center;
    background: $white;
    bottom: 0;
    color: $black;
    content: 'Results not found!';
    display: flex;
    font-size: 18px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}

.list {
  background: $white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 2px $silverChalice;
  max-height: 300px;
  min-height: 10px;
  overflow: auto;
  padding-inline-start: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;

  &:empty:not(.loading):not(.none),
  &.hide {
    display: none;
  }
}
